.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dotsClass {
  width: 80%;
  background-color: aliceblue;
}

.slider-content-con {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
