.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: pink;
}

.dotsClass {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 20px;
}

.slider-content-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.carousel-image {
  width: 250px;
  height: 250px;
}
